@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


body {
font-family: 'Cormorant Unicase', serif;
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #333;
}
.navbar {
  background-color: #222;
  /*color: #d7c8b1;*/
}

subtitle {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}


subtitles {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Override Bulma's default button color */
.button {
  background-color: #0e442f !important;
  color: #d7c8b1 !important;
  border-color: #0a3021 !important;
}
#instagram-button{
  color: #d7c8b1 !important;
  font-size: 1.5em; 
  padding-top: 3px;
}
.button:hover,
.button:focus {
  background-color: #197954 !important;
  border-color: #0a3021 !important;
}

#tagline-banner{
  background-color: #d7c8b1;
}
.columns{
  background-color: #222;
  #synopsis-image {
    margin: 20px;
  }
  #synopsis-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    .subtitle {
      padding: 20px;
      margin-right: 20px;
      color: #d7c8b1;
      vertical-align: middle;
    }
  }
}

.subtitle,
.title {
  color: #0e442f;
}

#booking-banner{
  background-color: #0e442f;
  background-image: url('imgs/texture_green.jpg');
  background-size: cover;
  margin: 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 10;
}
