@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


body {
font-family: 'Cormorant Unicase', serif;
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #333;
}

/* Burger */
.navbar-burger span {
  background-color: #0e442f; /* pale cream */
}

.navbar-burger.is-active span {
  background-color: #0e442f; /* dark green when active */
}

/* Dropdown arrow */
.navbar-link::after {
  border-color: #0e442f;
}

.navbar-link:hover::after {
  border-color: #0e442f;
}

.navbar {
  background-color: #222;
  /*color: #d7c8b1;*/
}

.navbar-item {
  color: #a3a9b3 !important;
}

.navbar-item:hover {
  background-color: #f5f5f5 !important; /* pale/cream hover background */
  color: #0e442f !important;            /* dark green text on hover */
}

.navbar-button {
  margin: 8px;
}

.navbar-dropdown {
  border-top: none; /* remove Bulma’s white border */
  box-shadow: none; /* optional, removes Bulma’s shadow */
  border-top: 0; /* remove Bulma’s white border */
  border-bottom: 0;
}

.navbar-dropdown .navbar-item {
  color: #a3a9b3 !important;
}

.navbar-dropdown .navbar-item:hover {
  background-color: #f5f5f5 !important;
  color: #0e442f !important;
}

subtitle {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}


subtitles {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Override Bulma's default button color */
.button {
  background-color: #0e442f !important;
  color: #d7c8b1 !important;
  border-color: #0a3021 !important;
}
#instagram-button{
  color: #d7c8b1 !important;
  font-size: 1.5em; 
  padding-top: 3px;
}
.button:hover,
.button:focus {
  background-color: #197954 !important;
  border-color: #0a3021 !important;
}

#tagline-banner{
  background-color: #d7c8b1;
}
.columns{
  background-color: #222;
  #synopsis-image {
    margin: 20px;
  }
  #synopsis-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    .subtitle {
      padding: 20px;
      margin-right: 20px;
      color: #d7c8b1;
      vertical-align: middle;
    }
  }
}

.subtitle,
.title {
  color: #0e442f;
}

#booking-banner{
  background-color: #0e442f;
  background-image: url('imgs/texture_green.jpg');
  background-size: cover;
  margin: 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 10;
}

#photo{
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
