@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


body {
font-family: 'Cormorant Unicase', serif;
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #333;
}

.navbar .navbar-burger span {
  background-color: #6db884;
}


.navbar-burger.is-active span {
  background-color: #6db884;
}

/* Dropdown arrow */
.navbar .navbar-link::after {
  border-color: #6db884;
}

.navbar-link:hover::after {
  border-color: #6db884;
}

.navbar {
  background-color: #222;
  /*color: #d7c8b1;*/
}

.navbar-item {
  color: #a3a9b3 !important;
}

.navbar-item:hover {
  background-color: #f5f5f5 !important; /* pale/cream hover background */
  color: #0e442f !important;            /* dark green text on hover */
}

.navbar-button {
  margin: 8px;
}

.navbar-dropdown {
  border-top: none; /* remove Bulma’s white border */
  box-shadow: none; /* optional, removes Bulma’s shadow */
  border-top: 0; /* remove Bulma’s white border */
  border-bottom: 0;
}

.navbar-dropdown .navbar-item {
  color: #a3a9b3 !important;
}

.navbar-dropdown .navbar-item:hover {
  background-color: #f5f5f5 !important;
  color: #0e442f !important;
}

subtitle {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}


subtitles {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Override Bulma's default button color */
.button {
  background-color: #0e442f !important;
  color: #d7c8b1 !important;
  border-color: #0a3021 !important;
}
#instagram-button{
  color: #d7c8b1 !important;
  font-size: 1.5em; 
  padding-top: 3px;
}
.button:hover,
.button:focus {
  background-color: #197954 !important;
  border-color: #0a3021 !important;
}

#tagline-banner{
  background-color: #d7c8b1;
  text-align: center;
}
.columns{
  background-color: #222;
  #synopsis-image {
    margin: 20px;
  }
  #synopsis-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .subtitle {
      padding: 20px;
      margin-right: 20px;
      color: #d7c8b1;
      vertical-align: middle;
    }
  }
}

.subtitle,
.title {
  color: #0e442f;
}

#booking-banner{
  background-color: #0e442f;
  background-image: url('imgs/texture_green.jpg');
  background-size: cover;
  margin: 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 10;
}

#photo{
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.ticket-table td {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #222;
}

.ticket-table td:nth-child(1) {
  text-align: left;
}

.ticket-table td:nth-child(2) {
  text-align: right;
}

.ticket-table td:nth-child(3) {
  text-align: right;
}

.ticket-btn {
  background-color: #32b39c;
  color: #fff;
  padding: 8px 16px;
  border-radius: 9999px; /* pill shape */
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s ease;
  display: inline-block;
}

.ticket-btn:hover {
  background-color: #279482;
}

.adc-tickets {
margin-right: 40px;
  padding-right: 40px;
}

.adc-table {
align: center;
}

.adc-logo {
width: 150;
  height: 50;
}

@media screen and (max-width: 769px) {

.adc-tickets {
margin-right: 0;
  padding-right: 0;
}
  .adc-table {
width: 100%;
  align: center;
  margin-right: 0px;
  padding: 0;
  padding-right: 0;
}
  .adc-logo {
width: 300;
  height: 100;
}
  .ticket-btn {
  size: 50%;
}
  .ticket-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
    margin-right: 0;
  padding-right: 0;
}
}
